@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

html {
  scroll-behavior: smooth;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
}

.sidenav-header {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
}

.sidenav li>a {
    color: white;
}

nav .brand-logo {
    margin-left: 5px;
}

.flashes h4 {
    line-height: 2;
}

.parallax {
    opacity: 0.3;
}

.parallax-container {
    height: 500px;
}

.hero-text {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    color: #20b2aa;
    font-weight: 400;
}