@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: 'Yellowtail', sans-serif;
    letter-spacing: 2px;
}

.sidenav-header {
    font-family: 'Yellowtail', sans-serif;
    letter-spacing: 2px;
}

.sidenav li>a {
    color: white;
}

nav .brand-logo {
    margin-left: 5px;
}

.flashes h4 {
    line-height: 2;
}

.parallax {
    opacity: 0.3;
    width: 100%;
    height: auto;
}

.parallax-container {
    height: 600px;
}

.hero-text {
    font-family: 'Yellowtail', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    color: #1d8882;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5%;
}

.hero-text-1 {
    font-family: 'Yellowtail', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #1d8882;
    font-weight: 500;
    margin-bottom: 1%; 
    margin-top: 10%;
}

.hero-text-2 {
    font-family: 'Yellowtail', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    color: #1d8882;
    font-weight: 300;
    margin-bottom: 0; 
    margin-top: 0;
}

@media (max-width: 390px) {
    .hero-text
    .hero-text-2 {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .hero-text-1 {
        font-size: 25px;
    }
}

@media (max-width: 285px) {
    .hero-text-1 {
        margin-top: 5%;
    }
}

.footer-text {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Yellowtail', sans-serif;
    margin-top: 10px;
}

.social-links {
    margin-top: 10px;
}

.footer {
    position: sticky;
    height: 10vh;
}

.icon-color {
    color: #f7e7ce;
}

.icon-text {
    color: #1d8882;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.row {
    margin-bottom: auto;
}

.bottom-parallax {
    padding-top: 15%;
    padding-bottom: 15%;
}

@media (min-width: 936px) {
    .bottom-parallax {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.text-padding {
    padding-bottom: 5%;
    padding-top: 10%;
}

.section-pad {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.height {
    min-height: calc(100vh - 140px);
}

.text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card-panel {
    background-color: #f7e7ce;
}

.back-to-top {
    background-color: #f7e7ce !important;
    color: teal;
}

.back-to-top:hover {
    background-color: whitesmoke !important;
    color: teal;
}

.back-to-top:active {
    background-color: whitesmoke !important;
    color: teal;
}

.search-width {
    width: 50% !important;
    margin-left: 25% !important;
}

@media (max-width: 630px) {
    .search-width {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

.overflow {
    overflow: hidden;
}

@media (max-width: 330px) {
    .responsive {
        font-size: 10px !important;
    }
}


