@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

html {
  scroll-behavior: smooth;
  font-size: calc(1em + 1vw);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
}

.sidenav-header {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
}

.sidenav li>a {
    color: white;
}

nav .brand-logo {
    margin-left: 5px;
}

.flashes h4 {
    line-height: 2;
}

.parallax {
    opacity: 0.3;
}

.parallax-container {
    height: 500px;
}

.hero-text {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    color: #20b2aa;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
}

.hero-text-1 {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #20b2aa;
    font-weight: 300;
    margin-bottom: 1%; 
    margin-top: 7%;
}

@media (max-width: 486px) {
    .hideMe {
        display: none;
    }
}

.footer-text {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Yellowtail, sans-serif;
    margin-top: 10px;
}

.social-links {
    margin-top: 10px;
}

.footer {
    margin: 0;
}