{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Tips</h3>

        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="">
                <div class="card-panel teal">
                    <div class="input-field">
                        <i class="fas fa-folder-open prefix"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Select Your Tip Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Dropdown</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-map-marker-alt prefix"></i>
                            <input id="location" name="location" minlength="3" maxlength="20" type="text" class="validate" required>
                            <label for="location">Type Your Location Here</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-comments prefix"></i>
                            <textarea id="tip" name="tip" minlength="5" maxlength="50" class="materialize-textarea validate" required></textarea>
                            <label for="tip">Type Your Renovation Tip Here</label>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="col s12 btn-large teal lighten-2 darken-4 text-shadow">
                            Log In <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    
    

{% endblock %}