{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="static/images/parallax1.jpg"></div>
    <div>
        <h1 class="center-align hero-text text-shadow">Sign Up Now To Share Renovation Tips With Our Global Community</h1>
    </div>
    <div class="center-align">
        <a href="{{ url_for('signup') }}" class="waves-effect waves-light btn-large text-shadow">Sign Up</a>
    </div>
    <div class="center-align hideMe">
        <p class="hero-text-1 d-sm-block">Already Have An Account ?</p>
        <a href="{{ url_for('login') }}" class="waves-effect waves-light btn-small text-shadow">Log In Here</a>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">My Parallax is working!.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="static/images/parallax2.jpg"></div>
</div>

{% endblock %}
