{% extends "base.html" %}
{% block content %}

    <h3 class="hero-text text-shadow center-align">{{ username }}'s Profile</h3>    
    <h4 class="hero-text-1 center-align">Here are the tips you've added</h4> 
    <br>
    <div class="row"> 
        {% for tip in tips %}
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ url_for('static', filename='images/parallax1.jpg') }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><strong>{{ tip.category_name }}</strong></span>
                        <p><i class="fas fa-user prefix"></i><strong> Username:</strong> {{ tip.username }}</p>
                        <p><i class="fas fa-map-marker-alt prefix"></i><strong> Location:</strong> {{ tip.location }}</p>
                        <p class="text-clamp"><i class="fas fa-comments prefix"></i><strong> Top Tip:</strong> {{ tip.tip }}</p>
                        <br>
                        <button class="activator btn-small">Read More</button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>{{ tip.category_name }}</strong><i class="fas fa-times right"></i></span>
                        <br>
                        <p><i class="fas fa-comments prefix"></i><strong> Top Tip:</strong> {{ tip.tip }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_tips', tips_id=tip._id) }}" class="btn-small waves-effect waves-light">Edit</a>
                        <button data-target="modal1" class="btn-small red waves-effect waves-light modal-trigger">Delete</button>
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                              <h4>DELETE</h4>
                              <p>Are You Sure You Want To Delete Your Tip?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_tips', tips_id=tip._id) }}" class=" btn-small red modal-close waves-effect waves-light">YES</a>
                                <button data-target="modal1" class="btn-small waves-effect waves-light modal-close">NO</button>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        {% endfor %}
        </div>
        <br>
        <div class="center-align">
            <button id="backToTop" title="Back to top" class="waves-effect waves-light btn back-to-top teal-text">Back To Top</button>
        </div>
        <br>


{% endblock %}