{% extends "base.html" %}
{% block content %}
    <div class="overflow">
        <h3 class="hero-text text-shadow center-align">Top Tips</h3>

            <form action="{{ url_for('search') }}" method="POST" class="col s12">
                <div class="row center-align">
                    <div class="input-field col s12 search-width">
                        <i class="fas fa-search prefix icon-color"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Tips</label>
                    </div>
                    <div class="col s12">
                        <button type="submit" class="waves-effect waves-light btn text-shadow">
                            <i class="fas fa-search"></i> Search
                        </button>
                        <a href="{{ url_for('get_tips') }}" class="waves-effect waves-light btn text-shadow">Reset</a>
                    </div>
                </div>
            </form>
            <br>
    
            {% if tips|length > 0 %}
                <div class="row">
                {% for tip in tips %}
                    <div class="col s12 m4 l3">
                        <div class="card">
                            {% for category in categories %}
                                {% if category.category_name == tip.category_name %}
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" height="300" src="{{ category.category_image }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><strong>{{ tip.  category_name }}</strong></span>
                                <p><i class="fas fa-user prefix"></i><strong> Username:</strong> {{ tip.username }}</p>
                                <p><i class="fas fa-map-marker-alt prefix"></i><strong> Location:</strong> {{ tip.location }}</p>
                                <p class="text-clamp"><i class="fas fa-comments prefix"></i><strong> Top Tip:</strong> {{ tip.tip }}</p>
                                <br>
                                <button class="activator btn-small">Read More</button>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><strong>{{ tip.category_name }}</strong><i class="fas fa-times right"></i></span>
                                <br>
                                <p><i class="fas fa-comments prefix"></i><strong> Top Tip:</strong> {{ tip.tip }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                </div>
            {% else %}
                <h3 class="hero-text-1 center-align">No Results Found</h3>
            {% endif %}
            <br>
            <div class="center-align">
                <button id="backToTop" title="Back to top" class="btn back-to-top">Back To Top</button>
            </div>
            <br>
        </div>

{% endblock %}
