{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for tip in tips %}
    <div class="col s12 m4 l3">
        <div class="card small">
            <div class="card-image">
                <img src="static/images/parallax1.jpg">
                <span class="card-title"><strong>{{ tip.category_name }}</strong></span>
            </div>
            <div class="card-content">
                <p><i class="fas fa-user"></i><strong> Username:</strong> {{ tip.user_name }}</p>
                <p><i class="fas fa-map-marker-alt"></i><strong> Location:</strong> {{ tip.location }}</p>
                <p><i class="fas fa-comments"></i><strong> Top Tip:</strong> {{ tip.tip }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
